{% extends 'base.html.twig' %}


{% block title %}
    Consulter Livre
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row align-items-center">
                <div class="col-5">
                    <h4 class="page-title">Tableau de Bord</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Consulter Livre</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales chart -->
            <!-- ============================================================== -->
            
            <div class="row">
                <div class="col-md-2 col-xlg-1 col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ 'Livre N° ' ~ livre.id }}</h4>
                            <hr>
                            <div class="feed-widget">
                                <ul class="list-style-none feed-body m-0 p-b-20">
                                    <li class="feed-item">
                                        <div class="feed-icon bg-info"><i class="far fa-bell"></i></div> Titre : &nbsp;&nbsp;&nbsp; <h3 class=""> {{ livre.titre }}</h3></li>
                                    <li class="feed-item">
                                        <div class="feed-icon bg-success"><i class="ti-server"></i></div> Description : &nbsp;&nbsp;&nbsp; <h3 class=""> {{ livre.description }}</h3></li>
                                    <li class="feed-item">
                                        <div class="feed-icon bg-success"><i class="ti-server"></i></div> Auteur : &nbsp;&nbsp;&nbsp; <h3 class=""> {{ livre.auteur }}</h3></li>
                                    <li class="feed-item">
                                        <div class="feed-icon bg-success"><i class="ti-server"></i></div> Editeur : &nbsp;&nbsp;&nbsp; <h3 class=""> {{ livre.editeur }}</h3></li>
                                    <li class="feed-item">
                                        <div class="feed-icon bg-success"><i class="ti-server"></i></div> Date de Parution : &nbsp;&nbsp;&nbsp; <h3 class=""> {% if livre.dateParution %}{{ livre.dateParution|date('d/m/Y') }}{% endif %}</h3></li>
                                     <li class="feed-item">
                                        <div class="feed-icon bg-success"><i class="ti-server"></i></div> Nombre exemplaires : &nbsp;&nbsp;&nbsp; <h3 class=""> {{ livre.nbexemplaire }}</h3></li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <a href="{{ path('livre_index') }}">
                                        <button class="btn btn-lg btn-info">Afficher Tout</button>
                                    </a>
                                    {% set emp=false %}
                                    <a href="{{ path('app_front_emprunt', { 'id': livre.id }) }}">
                                        {% for user in livre.users %}
                                            {% if user==app.user %}
                                                <button class="btn btn-lg btn-dark">Retourner</button>
                                                {% set emp=true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if emp==false %}
                                            <button class="btn btn-lg btn-dark">Emprunter</button>
                                        {% endif %}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Utilisateurs empruntés</h4>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Noms</th>
                                                <th>Prénom</th>
                                                <th>Téléphone</th>
                                                <th>Adresse</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {% for user in livre.users %}
                                            <tr>
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.nom }}</td>
                                                <td>{{ user.prenom }}</td>
                                                <td>{{ user.telephone }}</td>
                                                <td>{{ user.adresse }}</td>
                                            </tr>
                                        {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            Tout Droit Reservés. Application developpé par <a href="#">Mohammed Abdel Karim</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}